<div class="main-container">
    <div class="container">
        <form [formGroup]="additionForm">

            <div class="take-values-container">
                <div class="left-container">
                    <div class="accept-value-one">
                        <input class="floating-input-secondary" type="number" formControlName="valueOne" />
                    </div>
                </div>
                <div class="right-container">
                    <div class="accept-value-two">
                        <input class="floating-input-secondary" type="number" formControlName="valueTwo" />
                    </div>
                </div>
            </div>
        </form>
        <div class="add-button">
            <button class="btn-green" (click)="submit()">Add</button>
        </div>
    </div>
</div>
<div class="display-opration">
    OUTPUT
    <router-outlet>
    </router-outlet>
</div>